<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         testdox="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Mentta Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    
    <source>
        <include>
            <directory>includes</directory>
            <directory>api</directory>
        </include>
        <exclude>
            <directory>vendor</directory>
            <directory>node_modules</directory>
            <directory>multimodal</directory>
        </exclude>
    </source>
    
    <coverage>
        <report>
            <html outputDirectory="tests/coverage"/>
            <text outputFile="tests/coverage.txt"/>
        </report>
    </coverage>
    
    <php>
        <env name="APP_ENV" value="testing"/>
    </php>
</phpunit>
